<header>
    <menu>
        <li>
            <a href="/">⬅️ Back to tests</a>
        </li>
        {{#if showLogoutButton}}
        <li>
            {{> logout-button csrfToken=csrfToken}}
        </li>
        {{/if}}
    </menu>
</header>

<h1>
    Settings
</h1>
<form action="/update-settings" method="post" enctype="multipart/form-data">

    <div>
        <h2>Default settings</h2>
        <ul>
        {{#each globalSettings}}
        <li>
            {{#if this.showInSettingsPage}}
                    {{> input input=this}}
            {{/if}}
            </li>
        {{/each}}
        </ul>
        <h3>
                Browsers to test
            </h3>
                {{#each browsers}}
                <label>
                    <input 
                    type="checkbox" 
                    name="browser--{{this.name}}" 
                    {{#if this.defaultChecked}}checked{{/if}}>
                    {{this.name}} 
                </label>
                <br>
            {{/each}}
    </div>

    {{#if fileUploads}}
    <div>
        <h2>Upload files</h2>
        {{#each fileUploads}}
            <label>
                {{this.label}}
                <input
                    type="file"
                    accept="{{this.accept}}"
                    name="file--{{this.name}}"
                >
            </label>
        {{/each}}
    </div>
    {{/if}}

    <ul>

        <button>Submit settings</button>
    </ul>
    <input type="hidden" value="{{csrfToken}}" name="csrfToken">
</form>

<script src="/js/index.js"></script>